body{
    font-family: Arial;
    font-size: 10pt;
    background-color: #606060;
}

#interface{
    width: 1300px;
    background-color: #010298;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    padding: 10px 10px 10px 10px;
}

header{
    background-color: #dddddd;
}

p{
    text-align: justify;
    text-indent: 20px;
}

article h1{
    font-size: 15px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .3);
    padding: 5px;
    margin: 0px;
}

article h2{
    font-size: 13px;
    color: #888888;
    margin: 0px;
}

article{
    margin-bottom: 32px;
}

.img-dir{
    display: block;
    float: right;
    margin-left: 5px;
}

#tabelaq1, #tabelaq2{
    margin: 0 auto;
}


#dados-pessoais h1{
    text-align: center;
}

#dados-pessoais header{
    margin: 10px 0px 10px 0px;
}

h1{
    text-align: center;
    color: #ffffff;
}

.itemselect{
    width: 210px;
}

.iteminput{
    width: 205px;
}

/* td{
    width: 20px;
} */

/*Características da id 'rodape'*/
#rodape{
    clear: both;
    border-top: 3px solid white;
}

#rodape p{
    text-align: center;
    color: white;
}

#rodape a{
    text-align: center;
    color: white;
}

label, span{
    color: white;
}

#tabelaq2 #obs{
    height: 160px;
    width: 210px;
}

#tabelaq2 label{
    width: 205px;
}

#bconfirmar{
    margin: 0 auto;
}

#botoes{
    text-align: center;
    margin-bottom: 24px;
}